@page "/"
@using ServerApp.Data

<h1>Hello, world!</h1>

Welcome to your new app.

<FluentValidatedEditForm Model="@Person" OnValidSubmit="@ValidForm" OnInvalidSubmit="@InvalidForm">
    <TemplatedValidationSummary Context="ValidationItems">
        @foreach (var validationItem in ValidationItems)
        {
            <div>@validationItem</div>
        }
    </TemplatedValidationSummary>
    <p>
        <strong>Use the name "Test" to trigger async validation on form submit</strong><br/>
        <label>Name: </label>
        <InputText @bind-Value="@Person.Name"/>
        <ValidationMessage For="@(() => Person.Name)"/>
    </p>

    <p>
        <label>Age: </label>
        <InputNumber @bind-Value="@Person.Age"/>
        <ValidationMessage For="@(() => Person.Age)"/>
    </p>

    <p>
        <label>Email Address: </label>
        <InputText @bind-Value="@Person.EmailAddress"/>
        <ValidationMessage For="@(() => Person.EmailAddress)"/>
    </p>
    <button type="submit">Save</button>
</FluentValidatedEditForm>

<br/>


<h3>@Output</h3>

@code{

    Person Person { get; set; }= new Person();

    string Output { get; set; } = "Awaiting form submission";
    
    void ValidForm()
    {
        Output = "Form Submitted Successfully.";
        StateHasChanged();
    }

    void InvalidForm()
    {
        Output = "Form FAILED Submission";
    }
    
}